/* src/components/Controls.css */

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Distribute items evenly */
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selects {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selects label {
  margin-right: 10px;
  font-size: 14px;
  color: #333;
}

.selects select {
  margin-right: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 150px;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-container label {
  margin-right: 10px;
  font-size: 14px;
  color: #333;
}

.search-container input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 300px; /* Adjust as needed */
}

.search-container input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
